<% const name = "thaya" %>
<nav style="background-color: red;">
    <div class="site-title">
        <a href="/"><h1>welcome to site  <%=name%></h1></a>

        <p>This is a page</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">New Blog</a></li>
    </ul>
</nav>