<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document | <%=title %></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>welcome to site</h1></a>
            <p>This is about page</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="blogs-content">
        <h2>About US</h2>
    </div>
</body>
</html>