<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/body.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <h1>Create  New Blog Post</h1>
    <div class="create-box">
        <form >
            <label for="">Blog Title</label>
            <input type="text" id="title"><br>
            <label for="">Snippet:</label>
            <input type="text" id="snippet"><br>
            <label for="">Blog Body</label>
            <textarea id="body" cols="30" rows="5"></textarea><br>
            <button>submit</button>
        </form>
    </div>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>