<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document | <%=title %></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>welcome to site</h1></a>
            <p>This is a page</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/create">New Blog</a></li>
        </ul>
    </nav>
    <h1>Create  New Blog Post</h1>
    <div class="create-box">
        <form >
            <label for="">Blog Title</label>
            <input type="text" id="title"><br>
            <label for="">Snippet:</label>
            <input type="text" id="snippet"><br>
            <label for="">Blog Body</label>
            <textarea id="body" cols="30" rows="5"></textarea><br>
            <button>submit</button>
        </form>
    </div>
    </div>
</body>
</html>