<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document | <%=title %></title>
</head>
<body>

    <% const name = "thaya" %>
    <nav>
        <div class="site-title">
            <a href="/"><h1>welcome to site  <%=name%></h1></a>

            <p>This is a page</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="blogs-content">
        <h2>All Blogs</h2>

        <% if (blogs.length>0) { %>
         <% blogs.forEach(blog =>{ %>
            <h3 class="title"><%= blog.title %></h3>
            <p class="snippet"><%= blog.snippet %></p>
         <% }) %>
        <% } %>
    </div>
</body>
</html>